body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

main {
    padding: 1rem;
    margin: auto;
}

form {
    display: inline;
}

.centered {
    text-align: center;
}

.image{
    height: 20rem
}

.image img {
    height: 100%
}

.main-header {
    width: 100%;
    height: 3.5rem;
    background-color: orange;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
}

.main-header_nav {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-header_item_list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-header_item {
    margin: 0 1rem;
    padding: 0;
}

.main-header_item a {
    text-decoration: none;
    color: white;
}

.main-header_item a:hover,
.main-header_item a:active,
.main-header_item a.active {
    color: purple;
}

.user-message{
    margin: auto;
    width: 90%;
    border: 1px solid purple;
    padding: .5rem;
    border-radius: 3px;
    background-color: rebeccapurple;
    text-align: center;
} 

.user-message--error {
    border-color: red;
    background: rosybrown;
    color: red;
}

@media (min-width: 768) {
    .main-header_nav {
        display: flex
    }
    #side-menu-toggle {
        display: none
    }
    .user-message {
        width: 30rem
    }
}