extends layouts/main-layout.pug

block styles
    link(rel='stylesheet', href='/css/product.css')

block content
    main
        if prods.length > 0
            .grid
                each product in prods
                    article.card.product-item
                        header.card_header
                            h1.product_title #{product.title}
                        div.card_image
                            img(src="", alt="product image")
                        div.card_content
                            h2.product_price $666.00
                            p.product_description This is a cool product cuz of this and that
                        .card_actions
                            button.btn Add it to the cart
        else 
            h1 No products to show we ill restock soon

