.product-form {
    width: 30rem;
    max-width: 90%;
}

.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input {
    display: block;
}

.form-control input {
    border: 1px solid orange;
    font: inherit;
    border-radius: 2px;
}

button {
    margin: 1rem;
    font: inherit;
    border: 1px solid orange;
    color: orange;
    background: white;
    border-radius: 3px;
    cursor: pointer;
}

button:hover,
button:active {
    background-color: purple;
}